.navbar-dark {
    background-color: #512DA8;

}

h2 {
    text-align: center;
    margin-top: 3em;
}

.section {
    
    margin-bottom: 2em;
    margin-top: 3em;
}

h4 {
    text-align: center;
    font-weight: bold;
}
.footer {
    background-color: #D1C4E9;
    margin: 0px auto;
    padding: 20px 0px; }

#copyright {
    background-color: #512DA8;
    color: white;
}

.card-footer {
    border-top: none;
    background: white;
}

#copyright{
    padding-top: 15px;
}